{% extends "base.html" %}
{% load static %}

    {% block title %}Blog-MeetMe Personal {% endblock %}

    {% block page_content %}
    <div class= "container-fluid bg-light " >
      <h1> Happy  to see you </h1> 
         <div class="container">
         {% for p in post %}
            <h1>{{ p.title }} </h1>
            <pre>{{ p.posted }}</pre>
            <p>{{ p.body }}</p>
            <pre>Last updete {{ p.updated }}</pre>
         {% endfor %}
         </div> 
    </div>
    {% endblock %}