{% extends "base.html" %}
{% load static %}
<!doctype html>

{% block title %} Meetme-Avinash {% endblock %}
{% block page_content %}
  <section class="jumbotron text-center">
    <div class="container">
      <div class="jumbotron">
        <h1 class="display-4 text-dark">AVINASH</h1>
        <hr>
        <p class="lead">A CSE undergraduate believe in Optimistic view to see the world rathar than pessimistic.
        </br> Cricket lover and  enthusiast for new stuffs.
        </br> Code Can't lie but Man can. </p>
        <cite>"When something is important enough, you do it even if the odds are not in your favor." </br> -Alon Mask</cite>
        <hr class="my-4">
        <p class="lead">
            <a href="mailto:prajapati143a@gmail.com" class="btn btn-primary btn-lg" role="button">Contact Us</a>
        </p>
        <img src = "{% static "img\logo.png" %}">
        </div>
    </div>
  </section>

  <div class="album py-5 bg-dark">
    <div class="container">
   
         <div class="row">
         {% for pro in profile %}
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ pro.image.url }}" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted"> {{ pro.title  }}</small>
                  </div>
                </div>
              </div>
            </div>
    {% endfor %}
    </div>
  </div>
  {% endblock %}

<!-- Contact Form -->

{% block contact %}
  <form action="" role="form" method = "post" novalidate>
    {% csrf_token %}

    {% include 'bs4_form.html' with form=form %}
    <div class="form-group">
        <input type="submit" class="btn btn-primary btn-send-message" value="Send Message">
    </div>

  </form>
{% endblock %}

<!--</main>

<footer class="text-muted">
  <div class="container">
    
    <p class='text-center'> Portfolio for avinash by  @nithost &copy;   {% now 'Y'%} </p>
    
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>
-->